/*
author: https://github.com/nooisy/secret-rice-stash

to be used with:
- https://github.com/lassekongo83/yt-classic-polymer
- https://addons.mozilla.org/nl/firefox/addon/df-youtube/
*/

/* topbar */
#start.ytd-masthead,
#end.ytd-masthead,
#gs_st50,
#search-icon-legacy.ytd-searchbox {
    display: none;
}

/* fixing searchbox border after removing search icon*/
#container.ytd-searchbox {
    border-right: solid 1px;
    border-right-color: var(--ytd-searchbox-legacy-border-color);
    border-radius: 2px 2px 2px 2px;
}

/* center searchbar and searchresults */
#center.ytd-masthead,
#primary.ytd-two-column-search-results-renderer {
    margin: auto;
}

/* center text in searchbox */
#container.ytd-searchbox {
    text-align: center;
}
