@-moz-document domain("youtube.com") {
/* to be used with:
- yt dark mode (you can force this by adding a "ui.systemUsesDarkTheme" property set to int 1 in ff about:config)
- https://github.com/lassekongo83/yt-classic-polymer
- https://addons.mozilla.org/nl/firefox/addon/df-youtube/
*/

ytd-app {
    background-color: #181818;
}

/*
- yt logo + hamburger menu on the left
- upload + login button on the right
- keyboard icon in searchbar
- search icon in searchbar
*/
#start.ytd-masthead,
#end.ytd-masthead,
#gs_st50,
#search-icon-legacy.ytd-searchbox {
    display: none;
}

/* fixing searchbox border after removing search icon*/
#container.ytd-searchbox {
    border-right: solid 1px;
    border-radius: 2px 2px 2px 2px;
}

/* center searchbar and searchresults */
#center.ytd-masthead,
#primary.ytd-two-column-search-results-renderer {
    margin: auto;
}

/* center text in searchbox */
#container.ytd-searchbox {
    text-align: center;
}

}
